---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  href={href}
  class:list={[
    className,
    "px-4 p-2 rounded transition-colors border",
    isActive
      ? "text-sky-800 bg-sky-100 hover:bg-sky-200 border-sky-100 hover:border-sky-200"
      : "text-slate-800 hover:bg-slate-200",
  ]}
  {...props}
>
  <slot />
</a>
